
*{
    box-sizing: border-box;
}
body{
    font-family: verdana;
}
.title-head{
    background-color: #f1f1f1;
    padding:15px;
}
.menu{
    float: left;
    width: 20%;
}
.menuitem{
    padding:8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;

}
.main{
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
    height: 200px;
}
.main-inner{
    height: 1000px;
}
.right{
    background-color: lightblue;
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
}
@media only screen and (max-width: 800px){
    .main{
        width: 80%;
        padding: 0;

    }
    .right{
        width: 100%;
    }
    
}
@media only screen and (max-width: 500px){
    .menu, .main, .right{
        width: 100%;
    }
}